@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
    background: black;
    color:#fff;
    font-family: 'Montserrat';
    margin:0;
}

.row {
    width:100%;
    margin-top:50px;
    background:black;
    display: grid;
    align-items: center;
}

#price-container {
    background:#353535;
    padding: 0 10px;
    text-align:center;
    -webkit-app-region: drag;
}
#goal-container {
    padding:20px;
    text-align: center;
}
.subtext {
    font-size:.8em;
    text-transform:uppercase;
    margin-bottom: 10px;
}
img {
    width: 20px;
}

h1 {
    margin: 0 0 10px 0;
}

button {
    text-align: center;
    background:#FF0057;
    border:none;
    color:#fff;
    text-transform:uppercase;
    padding:10px;
    cursor:pointer;
}